<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="home">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1>
                    <figure class="jue image">
                        <img src="<%= require('./assets/images/jue.png') %>">
                    </figure>
                </h1>
                <h1 class="title animated fadeInUp delay-1s">
                    <span>TEDxXujiahui 首场大会<span class="conf-name">《觉·EUREKA》</span></span>
                </h1>
                <div class="desc animated fadeInUp delay-1s">
                    <span>2018年12月8日</span>
                    <a target="_blank" href="http://j.map.baidu.com/8UXu2">上海交通大学文治堂<span class="mdi mdi-map-marker"></span></a>
                </div>
                <div class="animated fadeInUp delay-1s">
                    <a class="follow">关注</a>
                    <!-- <a class="join">参与</a> -->
                    <figure class="qr image is-128x128">
                        <img src="<%= require('./assets/images/wechatQR.png') %>">
                    </figure>
                </div>
            </div>
        </div>
        <div class="navs animated fadeInLeft delay-1s">
            <figure class="image logo">
                <img src="<%= require('./assets/images/logo.png') %>">
            </figure>
            <nav class="tabs">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>大会</a></li>
                        <li><a>团队</a></li>
                        <li><a>讲者</a></li>
                        <li><a>关于</a></li>
                        <li><a>合作</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</body>
</html>
