<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="home">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <figure class="jue image">
                    <img src="assets/images/jue.png">
                </figure>
            </div>
        </div>
        <div class="navs">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        <li class="is-active"><a>大会</a></li>
                        <li><a>团队</a></li>
                        <li><a>讲者</a></li>
                        <li><a>关于</a></li>
                        <li><a>合作</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <img class="wall wall1" src="assets/images/wall1.png" alt="">
        <img class="wall wall2" src="assets/images/wall2.png" alt="">
        <img class="wall wall3" src="assets/images/wall3.png" alt="">
        <img class="wall wall4" src="assets/images/wall4.png" alt="">
    </section>
</body>
</html>
