<footer class="footer">
    <div class="content has-text-centered">
        <p>This independent TEDx event is operated under license from <a href="https://www.ted.com/" target="_blank">TED</a> | TEDxXujiahui 2018</p>
    </div>
</footer>