$body-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arimo, Arial, "Lucida Grande", Avenir, 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
$link: rgb(230, 43, 31);
$link-visited: rgb(230, 43, 31);
$link-hover: rgba(230, 43, 31, 0.75);
$link-focus: rgba(230, 43, 31, 0.75);
$link-active: rgba(230, 43, 31, 0.75);

$navbar-height: 5rem;
$navbar-item-img-max-height: none;
$navbar-item-hover-background-color: unset;
$navbar-item-color: white;
$navbar-item-active-color: rgb(230, 43, 31);
body{
    box-sizing: border-box;
}