$body-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arimo, Arial, "Lucida Grande", Avenir, 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
$link: rgb(230, 43, 31);
$link-visited: rgb(230, 43, 31);
$link-hover: rgba(230, 43, 31, 0.75);
$link-focus: rgba(230, 43, 31, 0.75);
$link-active: rgba(230, 43, 31, 0.75);

$navbar-item-active-color: rgb(230, 43, 31);
@import 'bulma';
html {
    font-size: 20px;
}
body{
    box-sizing: border-box;
}
.footer {
    background-color: #101010;
    color: white;
    padding: 3rem 1.5rem 3rem;
}
.navbar.is-black .navbar-start > a.navbar-item:hover,
.navbar.is-black .navbar-start > a.navbar-item.is-active,
.navbar.is-black .navbar-start .navbar-link:hover,
.navbar.is-black .navbar-start .navbar-link.is-active,
.navbar.is-black .navbar-end > a.navbar-item:hover,
.navbar.is-black .navbar-end > a.navbar-item.is-active,
.navbar.is-black .navbar-end .navbar-link:hover,
.navbar.is-black .navbar-end .navbar-link.is-active {
    color: $link;
}
::selection {
    background: #e62b1e98; /* WebKit/Blink Browsers */
}