$body-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arimo, Arial, "Lucida Grande", Avenir, 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
$link: rgb(230, 43, 31);
$link-visited: rgb(230, 43, 31);
$link-hover: rgba(230, 43, 31, 0.75);
$link-focus: rgba(230, 43, 31, 0.75);
$link-active: rgba(230, 43, 31, 0.75);

$navbar-item-active-color: rgb(230, 43, 31);
@import 'bulma';
/* 
    bulma fix mobile https://github.com/jgthms/bulma/issues/449
*/
.columns {
    margin: 0;
}

@media screen and (min-width: 1088px) {
    .columns {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        margin-top: -0.75rem;
    }
}
html {
    font-size: 20px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}
.footer {
    margin-top: 1rem;
    background-color: #101010;
    color: white;
    padding: 3rem 1.5rem 3rem;
}
.vflex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.flex-grow1 {
    flex-grow: 1;
}
.flex-shrink1 {
    flex-shrink: 1;
}
.navbar.is-black .navbar-start > a.navbar-item:hover,
.navbar.is-black .navbar-start > a.navbar-item.is-active,
.navbar.is-black .navbar-start .navbar-link:hover,
.navbar.is-black .navbar-start .navbar-link.is-active,
.navbar.is-black .navbar-end > a.navbar-item:hover,
.navbar.is-black .navbar-end > a.navbar-item.is-active,
.navbar.is-black .navbar-end .navbar-link:hover,
.navbar.is-black .navbar-end .navbar-link.is-active {
    color: $link;
}
::selection {
    background: #e62b1e98; /* WebKit/Blink Browsers */
}