.member {
    padding: 1rem 1rem;
}
h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.9rem;
    border-left: 24px solid #ff2b06;
    padding-left: 10px;
    .tedx {
        color: #ff2b06;
        font-weight: 900;
    }
    sup {
        font-size: 1.5rem;
        line-height: 0;
    }
    transform: translate(-24px, 0);
}
.content1 {
    margin: 3rem auto;
}
.member {
    h2 {
        margin: 1rem auto;
        text-align: center;
    }
    p {
        font-size: .8rem;
    }
}