<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" type="image/png" href="<%= require('images/favicon.png') %>"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body class="home">
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered landing slow">
                    <h1 class="title tedxlogo">
                        <span class="tedx">TED<sup class="thex">x</sup></span
                        ><span class="xujiahui">Xujiahui</span>
                    </h1>
                    <h2 class="subtitle">传播有价值的<span>思想</span></h2>
                </div>
            </div>
            <div class="hero-foot">
                <nav class="tabs">
                  <div class="container">
                    <ul>
                        <li class="is-active"><a>首页</a></li>
                        <li><a href="/speaker">大会</a></li>
                        <li><a href="/team">团队</a></li>
                        <li><a href="/join">参与</a></li>
                        <li><a href="/about">关于</a></li>
                    </ul>
                  </div>
                </nav>
            </div>
        </section>
    </body>
</html>
