<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>讲者</title>
</head>
<body class="speaker">
    <%= require('ejs-loader!../components/nav.ejs')({active: 'speaker'}) %>
    <section class="content">
    </section>
    <%= require('ejs-loader!../components/footer.ejs')() %>
</body>
</html>
